<section>
   <app-page-heading [pageHeading]="pageHeadingText"></app-page-heading>
</section>

<table class="table">
   
   <tbody>
     <tr>
       <td>Name</td>
       <td>{{shop.shop_name}}</td>
     </tr>
     <tr>
       <td>Email ID</td>
       <td>{{shop.email}}</td>
     </tr>
     <tr>
       <td >GST No</td>
       <td>{{shop.shop_gst}}</td>
     </tr>
     <tr>
      <td >State</td>
      <td>{{shop.state}}</td>
    </tr>
    <tr>
      <td >Distict</td>
      <td>{{shop.dist}}</td>
    </tr>
    <tr>
      <td >Pin</td>
      <td>{{shop.pin_code}}</td>
    </tr>
    <tr>
      <td >Local Address</td>
      <td>{{shop.local_address}}</td>
    </tr>
   </tbody>
 </table> 
