<div class="context">
   <h1>Congratulations</h1>
   <p>Processing your request, you will get a mail within 48 hours </p>
   <br>
   <p>Thank you :)</p>
   <br>
   <hr>
   <br>
   <div class="home_btn">
      <a routerLink="" mat-raised-button color="accent" style="z-index: 999;">Back to home</a>
   </div>
   
</div>


<div class="area" >
       <ul class="circles">
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
               <li></li>
       </ul>
</div >
