<section>
   <app-page-heading [pageHeading]="pageHeadingText"></app-page-heading>
   <div class="view_all_prod">
      <table class="table">
         <thead>
           <tr>
             <th scope="col">S.No</th>
             <th scope="col">Title</th>
             <th scope="col">Category</th>
             <th scope="col">Price</th>
             <th scope="col">Market Price</th>
             <th scope="col">Total Units</th>
             <th scope="col">Description</th>
             <th scope="col">Actions</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th scope="row">1</th>
             <td>
              <a routerLink="/dashboard/product-details" style="color: rgb(84, 168, 196);">Mark</a>
            </td>
             <td>Otto</td>
             <td>@mdo</td>
             <td>@mdo</td>
             <td>@mdo</td>
             <td>@mdo</td>
             <td>
               <a href="">
                  <span class=edit>Edit</span>
               </a>
               /
                  <span (click)="openDialog()" class=del>Delete</span>
             </td>
           </tr>
           <tr>
             <th scope="row">1</th>
             <td>Mark</td>
             <td>Otto</td>
             <td>@mdo</td>
             <td>@mdo</td>
             <td>@mdo</td>
             <td>@mdo</td>
             <td>
               <a href="">
                  <span class=edit>Edit</span>
               </a>
               /
               <a href="">
                  <span class=del>Delete</span>
               </a>
             </td>
           </tr>
           <tr>
             <th scope="row">1</th>
             <td>Mark</td>
             <td>Otto</td>
             <td>@mdo</td>
             <td>@mdo</td>
             <td>@mdo</td>
             <td>@mdo</td>
             <td>
               <a href="">
                  <span class=edit>Edit</span>
               </a>
               /
               <a href="">
                  <span class=del>Delete</span>
               </a>
             </td>
           </tr>
           <tr>
             <th scope="row">1</th>
             <td>Mark</td>
             <td>Otto</td>
             <td>@mdo</td>
             <td>@mdo</td>
             <td>@mdo</td>
             <td>@mdo</td>
             <td>
               <a href="">
                  <span class=edit>Edit</span>
               </a>
               /
               <a href="">
                  <span class=del>Delete</span>
               </a>
             </td>
           </tr>
         </tbody>
       </table>
   </div>
</section>